<!DOCTYPE html>
<html ng-app="adminapp" >
<!--<html lang="en", ng-app"adminapp">-->
<head>
  <meta charset="utf-8">
  <title><%=typeof title == 'undefined' ? 'Welcome | 2nd A Friendly' : 'Welcome | 2nd A Friendly | '+title%></title>

  <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />

  <!-- ********************************** Coloradmin Start************************************* -->

  <!-- ================== BEGIN core-css ================== -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/admin-container/coloradmin/css/vendor.min.css" rel="stylesheet" />
  <link href="/admin-container/coloradmin/css/app.min.css" rel="stylesheet" />
  <link href="/admin-container/coloradmin/css/style.css" rel="stylesheet" />
  <link href="/admin-container/coloradmin/css/style.css" rel="stylesheet" />

  <link href="/admin-container/css/custom.css" rel="stylesheet" />
  <link rel="stylesheet" href="/admin-container/css/pgloader.css">
  <!-- ================== END core-css ================== -->

  <!-- ================== BEGIN page-css ================== -->

  <!-- ================== END page-css ================== -->


  <link href="/admin-container/coloradmin/css/custom.css" rel="stylesheet" />

  <!-- ********************************** Coloradmin End*************************************** -->

  <link rel="stylesheet" href="/custom_component/ui-bootstrap4/dist/ui-bootstrap-csp.css">
  <!--Bower Component Highchart CSS Add Start-->
  <link rel="stylesheet" href="/bower_components/highcharts-ng/dist/highcharts-ng.css" />
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <!--Bower Component Highchart CSS Add End-->


  <!-- =============Sweet Alert Start============== -->
  <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
  <!-- =============Sweet Alert End================ -->

  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->


  <!--Bower Component CSS Add Start-->
      <link rel="stylesheet" href="/bower_components/summernote/dist/summernote.css">
  <!---->
  <!--Bower Component CSS Add End---->

  <style type="text/css">
            /* .app-header-fixed .app-header{
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            } */
            .app-content .app-content-padding{
                background: #dee2e6!important;
            }
            /* .table-striped>tbody>tr:nth-of-type(odd)>*{
                font-size: 0.75rem!important;
            } */
            /* .table-striped>tbody>tr:nth-of-type(even)>*{
                font-size: 0.75rem!important;
            } */
            /* .table.table-tbody-bordered>tbody>tr>td+td{
                font-size: 0.75rem!important;
            } */
            /* .table.table-tbody-bordered>thead>tr>th+th{
                font-size: 0.75rem!important;
            } */
            /* .top-0{
                top: 9px!important;
            } */
            .select2.select2-container .selection .select2-selection.select2-selection--multiple, .select2.select2-container .selection .select2-selection.select2-selection--single{
                border-color: #dee2e6!important;
            }
            .select2.select2-container{
                background: none!important;
            }
            .table-responsive{
                height: auto!important;
            }
        </style>

</head>

<body>
   <!-- BEGIN #loader -->
   <div id="loader" class="app-loader">
       <span class="spinner"></span>
   </div>
   <!-- END #loader -->
   <!-- BEGIN #app -->
   <div id="app" class="app app-header-fixed app-sidebar-fixed">
       <!-- BEGIN #header -->
       <div id="header" class="app-header">
           <!-- BEGIN navbar-header -->
           <div class="navbar-header">
               <a href="index.php" class="navbar-brand"></a>
               <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
           </div>
           <!-- END navbar-header -->
           <!-- BEGIN header-nav -->
           <div class="navbar-nav">
               <div class="navbar-item navbar-form">
                   <form action="" method="POST" name="search">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="Enter keyword" />
                           <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                       </div>
                   </form>
               </div>
               <div class="navbar-item dropdown">
                   <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
                       <i class="fa fa-bell"></i>
                       <span class="badge">5</span>
                   </a>
                   <div class="dropdown-menu media-list dropdown-menu-end">
                       <div class="dropdown-header">NOTIFICATIONS (5)</div>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <i class="fa fa-bug media-object bg-gray-500"></i>
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
                               <div class="text-muted fs-10px">3 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/user/user-1.jpg" class="media-object" alt="" />
                               <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">John Smith</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">25 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/user/user-2.jpg" class="media-object" alt="" />
                               <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Olivia</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">35 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <i class="fa fa-plus media-object bg-gray-500"></i>
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading"> New User Registered</h6>
                               <div class="text-muted fs-10px">1 hour ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <i class="fa fa-envelope media-object bg-gray-500"></i>
                               <i class="fab fa-google text-warning media-object-icon fs-14px"></i>
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading"> New Email From John</h6>
                               <div class="text-muted fs-10px">2 hour ago</div>
                           </div>
                       </a>
                       <div class="dropdown-footer text-center">
                           <a href="javascript:;" class="text-decoration-none">View more</a>
                       </div>
                   </div>
               </div>
               <div class="navbar-item navbar-user dropdown">
                   <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                       <img src="/admin-container/coloradmin/img/user/user-1.jpg"> alt="" />
                       <span>
           <span class="d-none d-md-inline">Bruce Boyer</span>
           <b class="caret"></b>
           </span>
                   </a>
                   <div class="dropdown-menu dropdown-menu-end me-1">
                       <a href="extra_profile.php" class="dropdown-item">Edit Profile</a>
                       <a href="email_inbox.php" class="dropdown-item d-flex align-items-center">
                           Inbox
                           <span class="badge bg-danger rounded-pill ms-auto pb-4px">2</span>
                       </a>
                       <a href="calendar.php" class="dropdown-item">Calendar</a>
                       <a href="extra_settings_page.php" class="dropdown-item">Settings</a>
                       <div class="dropdown-divider"></div>
                       <a href="login.php" class="dropdown-item">Log Out</a>
                   </div>
               </div>
           </div>
           <!-- END header-nav -->
       </div>
       <div id="header" class="app-header">
           <div class="navbar-header">
               <a href="index.php" class="navbar-brand"><img class="h-25px align-middle" src="/admin-container/coloradmin/img/logo.png"></a>
               <button type="button" class="navbar-mobile-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#top-navbar" aria-expanded="false">
        <span class="fa-stack fa-lg">
        <i class="far fa-square fa-stack-2x"></i>
        <i class="fa fa-cog fa-stack-1x"></i>
        </span>
               </button>
               <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
           </div>

           <!-- BEGIN header-nav -->
           <div class="navbar-nav">
               <div class="navbar-item navbar-form">
                   <form action="" method="POST" name="search">
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="Enter keyword" />
                           <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                       </div>
                   </form>
               </div>
               <div class="navbar-item dropdown">
                   <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle icon">
                       <i class="fa fa-bell"></i>
                       <span class="badge bg-danger">5</span>
                   </a>
                   <div class="dropdown-menu media-list dropdown-menu-end">
                       <div class="dropdown-header">NOTIFICATIONS (5)</div>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/1.jpg" class="media-object rounded-1" alt="" />
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Redwood Solutions Co.</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">35 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/1.jpg" class="media-object rounded-1" alt="" />
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Evergreen Ventures Corporation</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">25 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/1.jpg" class="media-object rounded-1" alt="" />
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Cascade Enterprises USA</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">35 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/1.jpg" class="media-object rounded-1" alt="" />
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Cascade Enterprises USA</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">35 minutes ago</div>
                           </div>
                       </a>
                       <a href="javascript:;" class="dropdown-item media">
                           <div class="media-left">
                               <img src="/admin-container/coloradmin/img/1.jpg" class="media-object rounded-1" alt="" />
                           </div>
                           <div class="media-body">
                               <h6 class="media-heading">Pequod's Pizza - Chicago</h6>
                               <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                               <div class="text-muted fs-10px">35 minutes ago</div>
                           </div>
                       </a>
                       <div class="dropdown-footer text-center">
                           <a href="activities.php" class="text-decoration-none">View more</a>
                       </div>
                   </div>
               </div>
               <div class="navbar-item navbar-user dropdown">
                   <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                       <img src="/admin-container/coloradmin/img/arielle.jpg" alt="" />
                       <span>
           <span class="d-none d-md-inline">Bruce Boyer</span>
           <b class="caret"></b>
           </span>
                   </a>
                   <div class="dropdown-menu dropdown-menu-end me-1">
                       <a href="edit-profile.php" class="dropdown-item">Edit Profile</a>
                       <a href="email-inbox.php" class="dropdown-item d-flex align-items-center">
                           Inbox
                           <span class="badge bg-danger rounded-pill ms-auto pb-4px">2</span>
                       </a>
                       <a href="calendar.php" class="dropdown-item">Calendar</a>
                       <div class="dropdown-divider"></div>
                       <a href="/adminlogout" class="dropdown-item">Log Out</a>
                   </div>
               </div>
           </div>
           <!-- END header-nav -->
       </div>
       <!-- END #header -->
       <!-- END #header -->




  <!-- begin #sidebar & #content -->

  <%- body %>
  <!-- end #content & #content -->


 <!-- BEGIN scroll to top btn -->

<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
<!-- END scroll to top btn -->
</div>
<!-- END #app -->




<!--Bower Component JS Add Start-->
<script src="/bower_components/angular/angular.min.js"></script>

<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<!-- <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>

<!--Bower Component Highchart JS Add Start-->
<script src="/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>

<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

<!--Bower Component Highchart JS Add End---->

<!--Bower Component Moment JS Add Start---->
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/angular-moment/angular-moment.js"></script>
<!--Bower Component Moment JS Add End---->

<!---->

<!-- *************************** Coloradmin Js Start******************************* -->
<!-- ================== BEGIN core-js ================== -->
<script src="/admin-container/coloradmin/js/vendor.min.js"></script>
<script src="/admin-container/coloradmin/js/app.min.js"></script>
<!-- ================== END core-js ================== -->

<!-- ================== BEGIN page-js ================== -->

<!-- ================== END page-js ================== -->

<script src="/custom_component/ui-bootstrap4/dist/ui-bootstrap.js"></script>
<script src="/custom_component/ui-bootstrap4/dist/ui-bootstrap-tpls.js"></script>


<script src="/bower_components/angular-ui-select/dist/select.js"></script>


<!-- *************************** Coloradmin Js End********************************* -->


<!--    ======================= Color admin start==============================-->
<script src="/custom_component/ui-bootstrap4/dist/ui-bootstrap.js"></script>
<script src="/custom_component/ui-bootstrap4/dist/ui-bootstrap-tpls.js"></script>

<script src="/bower_components/angular-ui-select/dist/select.js"></script>


<!-- ================== BEGIN PAGE LEVEL JS ================== -->



<!--    ======================= Color admin end================================-->

<script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.js"></script>

<script src="/admin-container/ckeditor/ckeditor.js"></script>

<!-- =============Sweet Alert Start============== -->
<script src="/bower_components/ngSweetAlert/SweetAlert.min.js"></script>
<script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<!-- =============Sweet Alert End================ -->



<script src="/admin-container/js/misc.js"></script>
<!-- <script src="/admin-container/js/custom.js"></script> -->

<!--Admin Angular JS Add Start-->

<script src="/admin-container/js/controller/adminAllController.js"></script>
<!--Admin Angular JS Add End-->

<script type="text/javascript">
    (() => {
      'use strict'

      const forms = document.querySelectorAll('.needs-validation')

      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>

</body>
</html>
