
<!--<form method="POST" action="/users/localregister">-->
  <!--<input type="email" name="email">-->
  <!--<input type="password" name="password">-->
  <!--<input type="submit" value="submit">-->
<!--</form>-->







<div class="container">

<div class="row">

  <div class="col-md-12">
    <h1>Signup</h1>
  <form name="registerForm" class="form-signin" method="POST" action="/users/localregister">
    <div class="control-group">
      <input type="email" class="form-control" placeholder="email" name="email" required>
    </div>
    <div class="control-group">
      <input type="password" class="form-control" placeholder="password" name="password" required>

      </div>


    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" />
  </form>
    </div>
</div>
</div>
