


<div class="modal-content">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Are you sure you Want to {{name}} ?</h3>
</div>
<div class="modal-body" id="modal-body">
  <b>Selected:</b> <span style="font-size: 15px; font-weight: 400; color: red">{{name}}</span><br/>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success" type="button" ng-click="okConnonItemAction()">Yes</button>

</div>
</div>
