<div class="site__body">
  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ui-sref="home">Home</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Services</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Customer Service</li>
          </ol>
        </nav>
      </div>
      <div class="page-header__title"><h1>Customer Service</h1></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p>We are do not believe in selling products only. We provides before sales information and a great
          aftersales services. We have 24/7 customer support and our representatives have sincerely
          answered all questions any of your inquires. In addition to detailed information about all
          products, you will be able to get help in choosing the right product. In addition, we have a
          strong technician team in every district for product installation and servicing. We have a free
          home delivery system to deliver products to your doorstep. To make purchasing easier for
          customers, we have credit card and Installment system. We always maintain good relationship with
          customer & always dedicated to providing you the best services to them</p>
      </div>
    </div>
  </div>
</div>
