<div class="site__body">
  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ui-sref="home">Home</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Services</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Rental Service</li>
          </ol>
        </nav>
      </div>
      <div class="page-header__title"><h1>Rental Service</h1></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <p>We are offering you generators rental service to provide uninterrupted power for your emergency
          needs. As Any kind power backup of festivals, events, meetings, seminars, business organizations you
          can rent our generators easily.</p>
        <p>We provide generator rental for daily, monthly and yearly basis so that you can pick right one as
          your requirement. We also have different ranges of generator. We basically give rent portable
          gasoline generators that are ran on petrol or octane. These generators are easy to carry so you can
          move them anywhere. They are very convenient for use in remote and hilly areas. Our portable
          generators (PG) range from 2kW to 10 kW. Rental rate negotiable.</p>
        <p>For you searching rental solution for your industrial or worksite heavy duty serving generator then
          we have our powerful diesel generators ranging from 10KVA to 100KVA. They are noise free and
          environmentally friendly. If you want uninterrupted electricity without disturbing for continuing
          your important task, these may can be your best choice. We have efficient technicians team to reach
          service at your door and to help in the installation process. Just call your hotline number or mail
          us. You will get the most reliable, durable and effective power solutions anytime anywhere in
          Bangladesh.</p>
      </div>
    </div>
  </div>
</div>
