<div class="site__body">
  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ui-sref="home">Home</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Services</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Shipping & Returns</li>
          </ol>
        </nav>
      </div>
      <div class="page-header__title"><h1>Shipping & Returns</h1></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p>Goods once sold cannot be returned. Manufacturing defect can be repaired and replaced depending on the situation.</p>
      </div>
    </div>
  </div>
</div>
